nav{
    width: 500px;
    background-color: rgb(79, 79, 249);
    border: 1px solid red;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li{
    float: left;
}

ul li a{
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}